
@model Book

<div>
    <h1 class="container">Title: @Model.Title</h1>
    <h5 class="container">Author: @Model.Author</h5>
    <h5 class="container">Publisher: @Model.Publisher</h5>
    <h5 class="container">ISBN: @Model.ISBN</h5>
    <h5 class="container">Category: @Model.Category</h5>
    <h5 class="container">Class: @Model.Class</h5>
    <h5 class="container"><mark>$@Model.Price</mark></h5>
    <h5 class="container">@Model.NumPages Pages</h5>

</div>