@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<button class="btn"></button>

<p class="lead">Welcome to my list of books! So much knowledge it's mind bottling </p>

<br /><br />
@foreach (var x in Model.Books)
{ //list out books dynamically 

<div>
    <h1 class="container">Title: @x.Title</h1>
    <h5 class="container">Author: @x.Author</h5>
    <h5 class="container">Publisher: @x.Publisher</h5>
    <h5 class="container">ISBN: @x.ISBN</h5>
    <h5 class="container">Category: @x.ClassCat</h5>
    <h5 class="container"><mark>$@x.Price</mark></h5>
    <h5 class="container">@x.NumPages Pages</h5>

</div>

}
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-rigt m-1"></div>
